<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

  <head>
    <title>COVID Death Tracker</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  </head>

 
   <body>
   
   	<h1>COVID DEATH TRACKER</h1>
<div>
<h2 th:text="${totalCount}"></h2>
<p>Total Death Count</p>
</div>
    <table>
      <tr>
        <th>Country</th>
        <th>State</th>
        <th>Total Death Count </th>
      </tr>
      <tr th:each="covid : ${covidData}">
        <td th:text="${covid.country}">Not Available</td>
        <td th:text="${covid.state}">Not Available</td>
        <td th:text="${covid.totalDeath}">Not Available</td>
      </tr>
    </table>
  
  
  </body>

</html>